/rf4sd-mfcdlg/Release
/rf4sd-mfcdlg/Debug
/rf4sd-mfcdlg/ipch
/rf4sd-mfcdlg/*.sdf
/rf4sd-mfcdlg/rf4sd-mfcdlg/Debug
/rf4sd-mfcdlg/rf4sd-mfcdlg/Release
/rf4sd-mfcdlg/*.opensdf
/rf4sd-mfcdlg/rf4sd-mfcdlg/*.aps
